#title {
	width: 100%;
	height: 100px;
	border: 1px solid #333;
}

#title>p {
	font-size: 40px;
	margin: 10px auto;
	text-align: center;
}

#sidebar {
	float: left;
}

#content {
	float: left;
	width: 800px;
	min-height: 820px;
	border-left: 1px solid #333;
	/* border: 1px solid red; */
}

#progress { /* border: 1px solid blue; */
	margin: 10px;
	margin-top: 40px;
}

#progress>h4 {
	margin-left: 40px;
}

#box1 {
	border: 1px solid #333;
	width: 800px;
	height: 30px;
	margin: 5px auto;
	border-radius: 50px;
}

#ing {
	z-index: 10;
	width:0px;
	height: 28px;
	border-right: 0px solid #333;
	background-color: yellow;
	border-radius: 50px;
}

#overview {
	/* border: 1px solid blue; */
	width: 800px;
	height: 350px;
	margin: 20px auto;
	margin-top: 50px;
}

.viewcontents {
	height: 40px;
	border-bottom: 1px solid gray;
	padding-top: 10px;
	padding-bottom: 10px;
}

.viewTitle {
	float: left;
	margin-left: 10px;
}

.viewUser, .viewDate {
	float: right;
}

.viewUser{ margin-right: 10px;}

.file{ background-color: #86d8dc;}
.task{ background-color: #f59994;}
.tasklist{ background-color: #89c2f4;}
.project{ background-color: #73d7a1;}
.file, .task, .tasklist, .project{ width: 70px; float: left;}

#today{
	margin: 0px auto;
	width: 800px;
	height: 200px;
	margin-top: 40px;
}

/* #todo {
	border: 1px solid green;
	width: 800px;
	height: 200px;
	margin: 20px auto;
} */

#todo>p {
	margin-bottom: 0px;
}

#todo>hr {
	margin-top: 5px;
	margin-bottom: 5px;
}

/* Side Bar CSS Start */
.pPlan {
	border: 1px solid #333;
	margin-bottom: 5px;
	width: 150px;
	text-align: center;
	position: relative;
}

.pPlan>#p1 {
	width: 50%;
	background-color: red;
}

.pPlan>#p2 {
	width: 30%;
	background-color: yellow;
}

.pText{ z-index: 10; position:relative;}

#gauge1{ 
	width:0px; height:100%; 
	background-color: skyblue; 
	position: absolute; left: 0px; top: 0px;
}

#gauge2{
	width:0px; height:100%; 
	background-color: #FFD9FA; 
	position: absolute; left: 0px; top: 0px;
}

#gauge3{
	width:0px; height:100%; 
	background-color: gold; 
	position: absolute; left: 0px; top: 0px;
}

#gauge4{
	width:0px; height:100%; 
	background-color: green; 
	position: absolute; left: 0px; top: 0px;
}
#gauge5{
	width:0px; height:100%; 
	background-color: blue; 
	position: absolute; left: 0px; top: 0px;
}


#sidebar h3>a:hover {
	text-decoration: none;
}

#sidebar h3>a {
	/* color: #1F1F20; */
	color: white;
}

.add img { width: 30px; height: 30px;}
.add{ font-size: 11px;}
.icn_add_user img, .icn_view_users img, .icn_profile img{ 
	width: 15px; height: 15px; 
	margin-top: -4px; margin-right: 2px;} 

/* Side Bar CSS End */

footer {
	clear: both;
}